* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid red;
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  height: 100%;
}

.header {
  grid-area: header;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
}

.header img {
  width: 27px;
}

.paw-icon {
  background: linear-gradient(170deg, #fa695a 0%, #f83375 100%);
  border-radius: 30px;
  padding: 7px 17px;
  width: 22px;
  box-sizing: content-box;
}

.main {
  grid-area: content;
  border: 1px solid orchid;
}

.cross-heart-icons-container {
  grid-area: footer;
  border: 1px solid palevioletred;
}
