* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-image: url("/images/background-img.png");
}

/* IMAGES */
img {
  width: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "content content content"
    "footer footer footer";
  max-width: 550px;
  height: auto;
  width: 100%;
  border-radius: 13px;
  background-color: whitesmoke;
  margin: 21px;
}

/* HEADER */

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px;
}

.header img {
  width: 27px;
}

.paw-icon {
  background: linear-gradient(170deg, #fa695a 0%, #f83375 100%);
  border-radius: 30px;
  padding: 7px 17px;
  width: 22px;
  box-sizing: content-box;
}

/* MAIN */

.main {
  grid-area: content;
}

.dog-container {
  display: grid;
  align-items: end;
  justify-items: start;
  padding: 0 7px;
}

.dog-img {
  grid-area: 1 / 1 / -1 / -1;
  border-radius: 7px;
}

.dog-info {
  display: flex;
  grid-area: 1 / 1 / 2 / -1;
  flex-direction: column;
  margin: 0 13px;
}

.dog-name-age {
  margin-bottom: 0;
  color: whitesmoke;
  font-size: 21px;
  font-weight: 600;
  line-height: 16px;
  text-shadow: 1px -2px 3px #f83375;
}

.dog-bio {
  margin-top: 7px;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
}

.like-nope-img {
  grid-area: 1 / 1 / 2 / 1;
  width: 134px;
  height: auto;
  transform: rotate(-31deg);
  align-self: start;
  margin-top: 28px;
}

.cross-heart-icons-container {
  grid-area: footer;
  gap: 25px;
  margin: 25px 0;
  justify-self: center;
  display: flex;
}

/* ICONS */
.icon {
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  padding: 11px;
  width: 53px;
  background: #ffffff;
  box-shadow: 0px 10px 20px #e9e9ea;
}

.like-icon:hover {
  background: #dbfff4;
  box-shadow: 0px 10px 20px #ccf1e6;
}

.nope-icon:hover {
  background: #ffe7ef;
  box-shadow: 0px 10px 20px #edd9df;
}

.end-message {
  font-size: 31px;
  text-align: center;
  height: 100%;
  margin: auto;
  display: flex;
  justify-items: center;
  align-items: center;
}

.end-message h2 {
  text-align: center;
}

@media (max-width: 300px) {
  .like-nope-img {
    width: 90px;
    margin-top: 15px;
  }
}

@media (min-width: 700px) {
  .like-nope-img {
    width: 184px;
    margin-top: 40px;
  }

  .dog-name-age {
    font-size: 42px;
    line-height: 36px;
  }

  .dog-bio {
    font-size: 23px;
    line-height: 31px;
  }
}
